.book-gallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}



/* BookCard Styles */
./* BookCard Styles */
.book-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.book-card h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.book-card p {
    margin: 0.5rem 0;
    color: #555;
}

/* Actions Styles */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Button Styles */
button:hover {
    opacity: 0.8;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
}

/* Favoriten Button Container */
.favorite-btn-container {
    margin-top: 1rem;
    text-align: center; /* Zentriert den Favoriten-Button */
}

/* Like Button */
.liked-btn {
    background-color: transparent;
    border: none;
    color: red; /* Rote Farbe für gelikte Bücher */
    font-size: 2rem; /* Größerer Button für das Herz */
    cursor: pointer;
}

.unliked-btn {
    background-color: transparent;
    border: none;
    color: gray; /* Graue Farbe für ungelikte Bücher */
    font-size: 2rem;
    cursor: pointer;
}


form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 2rem auto;
}

form label {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
    color: #333;
}

form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 0.2rem;
    font-size: 1rem;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0.5rem 0 0;
    transition: background-color 0.2s ease-in-out;
}

form button:hover {
    background-color: #0056b3;
}

form button[type="reset"] {
    background-color: #dc3545;
}

form button[type="reset"]:hover {
    background-color: #c82333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .homepage-header h1 {
        font-size: 2rem;
    }

    .book-card h2 {
        font-size: 1.2rem;
    }

    .book-card p {
        font-size: 0.9rem;
    }
}
